<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu:500" rel="stylesheet">  
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <title>N-Check | Grafica</title>
</head>

<body>
        <div id="chartContainer" style="height: 370px; width:100%;"></div>


        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/grafica.js"></script>
        <script src="/js/canvasjs.min.js"></script>
</body>
</html>